body {
  background-color: #d6e2f0;
  font-size: 15px;
  font-family: "Outfit", sem serifa;
}
.container {
  text-align: center;
  background-color: #ffffff;
  width: 320px;
  height: 500px;
  border-radius: 20px;
  margin: auto;
}
.code {
  border-radius: 10px;
  width: 280px;
  margin: 18px;
}
